/* leads-filter popup*/
.lead-detail .head{
   color: #F37E32;
   margin-bottom: 0;
   font-size: 18px;
}
.lead-detail .sub{
  color: #5C5D5D;
  font-size: 13px;
  text-transform: uppercase;
  margin-bottom: 0;
}
.lead-detail ul li{
   color: #5C5D5D;
   font-size: 15px;
}
.lead-detail ul li:before{
   content: "\f007";
   font-family: "FontAwesome";
   font-size: 14px;
   display: inline;
   height: 20px;
   width:20px;
   margin-right: 10px;
   color: #F37E32;
}
.lead-detail ul li:after{
   content: "";
   width: 90%;
   height: 1px;
   background: red;
}
.lead-detail ul{
  list-style: none;
  padding-left: 0;
}
.lead-detail {
    padding: 30px;
    background: #fff;
    padding: 30px;
    border-bottom: solid 1px #eaeaea;
}
.lead-detail hr {
    margin-bottom: 8px;
    margin-top: 8px;
}
.lead-action .list-view{
    background: transparent linear-gradient(180deg, #FAFAFA 0%, #FFFFFF 100%) 0% 0% no-repeat padding-box;
    border: 1px solid #EAEBEC;
    border-radius: 5px;
    color: red;
    display: flex;
    height: 42px;
    width: 42px;
    font-size: 22px;
    justify-content: center;
    align-items: center;
    color: #EAEBEC;
}
.lead-action .delete{
    background: transparent linear-gradient(180deg, #FAFAFA 0%, #FFFFFF 100%) 0% 0% no-repeat padding-box;
    border: 1px solid #EAEBEC;
    border-radius: 5px;
    color: red;
    display: flex;
    height: 42px;
    width: 42px;
    font-size: 22px;
    justify-content: center;
    align-items: center;
    color: #5C5D5D;
}
.lead-action .convert{
    background: transparent linear-gradient(
180deg
, #FAFAFA 0%, #FFFFFF 100%) 0% 0% no-repeat padding-box;
    border: 1px solid #EAEBEC;
    border-radius: 5px;
    color: red;
    display: flex;
    height: 42px;
    padding: 15px;
    font-size: 22px;
    justify-content: center;
    align-items: center;
}
.lead-action .btn-convert{
    background: transparent linear-gradient(104deg, #F48035 0%, #E5B123 100%) 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 5px #A2440133;
    border-radius: 5px;
    color: #fff;
    font-size: 14px;
    padding: 5px 10px;
}
.lead-action ul{
  list-style: none;
  padding-left: 30px;
  margin-bottom: 0;
}
.lead-action ul li {
  display: inline-block;
}
.lead-action ul li:first-child{
   width: 60px;
}
.leads-area{
  background: transparent linear-gradient(0deg, #FAFAFA 0%, #FFFFFF 100%) 0% 0% no-repeat padding-box;
  border-right:solid 1px #eaeaea;
}
.lead-action {
    padding: 20px 0;
}
#leadsFilter .modal-body {
    background: #F9F9FB;
    padding-right: 30px;
}
#leadsFilter .notes-area {
    background: transparent linear-gradient(0deg, #FAFAFA 0%, #FFFFFF 100%);
    border: 1px solid #F0F0F0;
    margin-top: 35px;
    position: relative;
}
#leadsFilter .notes-area li{
   width: 50%;
   text-align: center;
   padding: 10px;
}
#leadsFilter .notes-area li a{
   color: #5C5D5D;
}
#leadsFilter .notes-area li a:hover{
   text-decoration: none;
}
#leadsFilter .notes-area li.active{
   border-bottom: solid 3px #F37E32;
}
#leadsFilter .notes-area li a.active{
    color: #F37E32;
}
#leadsFilter .notes-area li a.active .icon-bg{
    background: #FFE2CF;
    color: #F37E32;
}
#leadsFilter .notes-area .tab-content {
    padding: 20px;
}
#leadsFilter .notes-area .tab-content p {
    color: rgba(92, 93, 93, 40%);
}

.main-timeline.call .timeline{
   background: #fff;
    margin: auto;
    border-radius: 10px;
    box-shadow: 0px 3px 13px #78787829;
    margin-left: 56px;
    padding: 10px;
}
.main-timeline.call .timeline a.timeline-content label{
  margin-bottom: 0;
  color: #5C5D5D;
  font-weight: 600;
}
.main-timeline.call .timeline ul{
  padding-left: 0;
  margin-bottom: 0;
}
.main-timeline.call .timeline li {
    display: inline;
    color: #c0c0c0;
    font-size: 14px;
}
.main-timeline.call .timeline li:after{
   content: "|";
   margin: 0 10px;
}
.main-timeline.call .timeline li:last-child:after{
   content: "";
}
.main-timeline.call .timeline:before{
   left: -50px;
}
.main-timeline.call .timeline:before{
    content: '\f095';
    font-family: FontAwesome;
    height: 25px;
    width: 25px;
    transform: translateY(-50%);
    position: absolute;
    top: 50%;
    border-radius: 50%;
    left: -55px;
    background: transparent linear-gradient(180deg, #EAEAEA 0%, #FFFFFF 100%);
    color: #F37E32;
    display: flex;
    justify-content: center;
    align-items: center;
    border:none;
    box-shadow: 0px 3px 6px #EBEBEB;
}
.main-timeline.call .timeline:after {
    content: "";
    display: block;
    width: 0;
    height: 0;
    border-top: 12px solid transparent;
    border-bottom: 12px solid transparent;
    border-right: 18px solid #fff;
    position: absolute;
    top: 20px;
    left: -18px;

}
.main-timeline.call:before{
     height: 130%;
     top: 45px;
     border-left: 3px dashed #eaebec;
     left: 14px;
}
.main-timeline.call.sub .timeline{
    margin-top: 20px;
    margin-left: 85px;
    border-radius: 0;
    border:solid 1px #eaeaea;
}
.main-timeline.call.sub .timeline:before{
    content: "";
    background: none;
    box-shadow: none;
}
.main-timeline.call.sub .timeline:after{
    border-right: 0;
}
.main-timeline.call.sub .icon-bg{
   background: transparent linear-gradient(180deg, #FAFAFA 0%, #FFFFFF 100%) 0% 0% no-repeat padding-box;
   border: 1px solid #EAEBEC;
   border-radius: 5px;
   color: #F37E32;
   padding: 5px 10px;
   text-align: center;
}
.main-timeline.call.sub ul{
   margin-top: 15px;
}
.main-timeline.call.sub ul li:after{
   display: none;
}
.main-timeline.call.sub ul li .icon-bg{ 
  display: inline;
  color: #5C5D5D;
}
.planner-head h5{
  color: #5C5D5D;
  text-align: center;
  font-size: 18px;
  text-transform: uppercase;
}
.main-timeline.call.meeting .timeline:before{
   content: '\f007';
}
.lead-created .main-timeline.call .timeline{
   background: none;
   box-shadow: none;
   margin-left: 25px;
}
.lead-created .main-timeline.call .timeline:after{
   border: 0;
}
.lead-created .main-timeline.call .timeline:before{
  content: "";
}
.lead-created .main-timeline.call .timeline:before {
  top: 45%;
   left: -21px;
   width: 18px;
   height: 18px;
}
.planner-head {
    margin: 20px 0;
}
.lead-created {
    margin-top: 24px;
}
.lead-created .main-timeline.call:before{
    height: 0;
}

.lead-created .main-timeline .timeline-content p{
   color: #c0c0c0;
}
#leadsFilter .modal-content button.close{
   background: none;
    color: #5C5D5D;
    right: 0;
    top: 3px;
}
.call-sec ul {
   padding-left: 0;
   list-style: none;
   display: inline-flex;
   margin-top: 10px;
}
.call-sec ul.act-icon li{
   display:inline;
   padding:0!important;
   width: auto !important;
}
.call-sec ul.act-icon li:first-child .icon-bg{
   border-bottom-left-radius:5px;
   border-top-left-radius:5px;
}
.call-sec ul.act-icon li:last-child .icon-bg{
   border-bottom-right-radius:5px;
   border-top-right-radius:5px;
}
.call-sec .icon-bg{
   background: #fff;
   border: solid 1px #EAEBEC;
   padding: 5px 10px;
}
.call-sec ul.act-icon li:hover .icon-bg{
    background: #FFE2CF;
    color: #F37E32;
}
#leadsFilter .call-sec .meeting-input .tab-content{
   padding-left:0;
   padding-right: 0;
   padding-bottom: 0;
}
#leadsFilter .call-sec .meeting-input li.active a.active{
    background: #FFE2CF;
    color: #F37E32;
    border-color: #F37E32;
    border-top: none;
}
#leadsFilter .date-sec, #leadsFilter .busy-dropdown {
   margin-top: 20px;
}
#leadsFilter .date-sec .time-area {
    display: inline-flex;
}
#leadsFilter .date-sec .time-area .form-control{
   width: 30%;
   margin-right: 10px;
}
#leadsFilter #tab_default_2 .left-icon{
   font-size: 22px;
   margin-top: 8px;
}
#leadsFilter .inputWithIcon {
    position: relative;
}
#leadsFilter .inputWithIcon i{
    position: absolute;
    left: 0;
    top: 4px;
    padding: 9px 8px;
    color: #aaa;
    transition: 0.3s;
    font-size: 16px;
}
#leadsFilter .form-foot{
    padding: 15px;
    padding-right: 0;
    border-top: 1px solid rgb(203, 204, 205);
    background: #ECECEC;
    margin-top: 15px;
}
#leadsFilter .save-area {
    display: flex;
}
#leadsFilter .inputWithIcon input[type="text"] {
   padding-left: 30px;
}
#leadsFilter .save-area input[type=checkbox]{
   display: inline;
}
#leadsFilter .save-area .done label{
  margin-bottom: 0;
}
#leadsFilter .save-area .done{
   margin-top: 5px;
}
#leadsFilter .save-area .btn{
   background: #fff;
    border: 0;
    border-radius: 2px;
    cursor: pointer;
    margin: 0;
    height: 32px;
    min-width: 80px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    box-sizing: border-box;
    text-decoration: none;
    color: #26292c;
    transition: background .12s ease-in-out;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    box-shadow: inset 0 0 0 1px #cbcccd, 0 1px 2px rgb(38 41 44 / 8%);
    padding: 4px;
    vertical-align: top;
    margin-left: 15px;
}
#leadsFilter .save-area .btn-save{
     background: #F48035;
     color: #fff;
}
#leadsFilter .notes-area .form-control{
      margin-bottom: 10px;
}

#leadsFilter .multi-section .hide-show input{
    width: 100%;
    height: calc(2.25rem + 2px);
    padding: .375rem .75rem;
    font-size: 15px;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
#leadsFilter .multi-section .hide-show input::placeholder{
   color: #eaeaea;
}
#leadsFilter .multi-section .hide-show input:focus-visible{
  outline: none;
  border-color:#F48035;
}
#leadsFilter .multi-section .row{
   margin-top: 10px;
}
#leadsFilter .multi-section span.edit-on-click {
    font-size: 15px;
    color: #F48035;
    margin-top: 8px;
}
#leadsFilter .rest{
   visibility: hidden;
}
#leadsFilter .fotercontent{
   margin-top: 30px;
   margin-bottom: 20px;
}
@media (min-width: 576px){
#leadsFilter .modal-dialog {
    max-width: 1000px;
    margin: 1.75rem auto;
}
#leadsFilter .calendar-flyer .modal-dialog{
  max-width: 500px;
}
}